<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated domain -->
      <package
            uri="http://www.eclipse.org/sirius-web/domain"
            class="org.eclipse.sirius.web.domain.DomainPackage"
            genModel="model/domain.genmodel"/>
   </extension>

</plugin>
