/frontend @sbegaudeau
/packages/charts @AxelRICHARD
/packages/compatibility @pcdavid
/packages/core @sbegaudeau
/packages/diagrams @gcoutable
/packages/domain @pcdavid
/packages/emf @sbegaudeau
/packages/formdescriptioneditors @AxelRICHARD
/packages/forms @AxelRICHARD
/packages/releng @sbegaudeau
/packages/selection @AxelRICHARD
/packages/sirius-web @sbegaudeau
/packages/starters @sbegaudeau
/packages/tests @sbegaudeau
/packages/tools @sbegaudeau
/packages/trees @pcdavid
/packages/validation @gcoutable
/packages/view @pcdavid
/packages/web @sbegaudeau
/scripts @sbegaudeau