<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.sirius.web.domain.design.services.Activator"
               id="sirius-web-domain-design"
	       name="domain">
    </component>
  </extension>
</plugin>
