<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated view -->
      <package
            uri="http://www.eclipse.org/sirius-web/view"
            class="org.eclipse.sirius.web.view.ViewPackage"
            genModel="model/view.genmodel"/>
   </extension>

</plugin>
